.md-table-fig .md-table, table {
    border: 1px solid #ddd;
    border-radius: 6px;
    border-collapse: separate;
    overflow: hidden
}

.md-table-fig .md-table td, .md-table-fig .md-table th, table td, table th {
    padding: 10px 16px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd
}

.md-table-fig .md-table td:first-child, .md-table-fig .md-table th:first-child, table td:first-child, table th:first-child {
    border-left: 0
}

.md-table-fig .md-table thead, table thead {
    background-color: #e7ecf3;
    color: #000
}

.md-table-fig .md-table caption + thead tr:first-child td, .md-table-fig .md-table caption + thead tr:first-child th, .md-table-fig .md-table colgroup + thead tr:first-child td, .md-table-fig .md-table colgroup + thead tr:first-child th, .md-table-fig .md-table thead + tbody tr:first-child td, .md-table-fig .md-table thead + tbody tr:first-child th, .md-table-fig .md-table thead:first-child tr:first-child td, .md-table-fig .md-table thead:first-child tr:first-child th, table caption + thead tr:first-child td, table caption + thead tr:first-child th, table colgroup + thead tr:first-child td, table colgroup + thead tr:first-child th, table thead + tbody tr:first-child td, table thead + tbody tr:first-child th, table thead:first-child tr:first-child td, table thead:first-child tr:first-child th {
    border-top: 0
}

.md-table-fig .md-table tbody + tbody, table tbody + tbody {
    border-top: 2px solid #ddd
}

.md-table-fig .md-table-edit {
    background-color: #ddd
}

.md-table-fig .md-table-edit .btn-default:hover {
    background-color: #bac6e9
}

.md-table-fig .md-table-edit .md-table-resize-popover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: none;
    padding: 0;
    background-color: transparent
}

.md-table-fig .md-table-edit .md-table-resize-popover .arrow {
    top: -10px
}

.md-table-fig .md-table-edit .md-table-resize-popover .arrow:after {
    border-bottom-color: #ddd
}

.md-table-fig .md-table-edit .md-table-resize-popover .md-reset {
    border-radius: 6px;
    background-color: #fff
}

.md-table-fig .md-table-edit .md-table-resize-popover .md-reset input {
    color: #282c34 !important
}

.md-table-fig .md-table-edit .md-table-resize-popover .md-reset input#md-grid-height, .md-table-fig .md-table-edit .md-table-resize-popover .md-reset input#md-grid-width {
    text-align: center
}

.md-table-fig .md-table-edit .md-table-resize-popover .popover-title {
    border-top: 1px solid #eee
}

.main ol {
    padding-left: 12px
}

.main ol li, .main ul li {
    margin: 4px 12px
}

html body {
    background-color: #fff;
    padding: 0;
    margin: 0
}

.container_Box {
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0
}

.container_Box .one ul > li div h4, .container_Box .two ul > li div h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.one .list {
    cursor: pointer
}

.active {
    border-radius: 8px;
    background-color: #ff9f62
}

#activeFont {
    color: #fffef6
}

#commonFont {
    color: #222
}

.container_Box .one, .container_Box .two {
    display: inline-block;
    height: 100vh;
    overflow-y: scroll;
    -webkit-transition: width .1s linear;
    transition: width .1s linear;
    position: relative;
    margin-top: 15px
}

.container_Box .one {
    width: 15vw;
    padding: 20px;
    border-left: 1px solid #ddd
}

.container_Box .two {
    width: 0;
    padding: 0
}

.container_Box .main {
    display: inline-block;
    flex: 1 1;
    height: 100vh;
    overflow-y: scroll;
    border-left: 1px solid #ddd;
    padding: 20px;
    position: relative
}

.title {
    cursor: pointer
}

.ant-spin-container .ant-list-items .ant-list-item {
    padding: 6px
}

.ant-list .ant-spin-container .ant-list-item {
    padding: 3px
}

.ant-list-item .ant-list-item-meta .ant-list-item-meta-content .ant-list-item-meta-title {
    padding: 0;
    margin: 0
}

.layerIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    display: flex
}

.zoom {
    left: 95vw
}

.one_hide_show, .zoom {
    width: 30px;
    cursor: pointer;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.one_hide_show {
    left: 10px
}

.two_hide_show {
    width: 30px;
    cursor: pointer;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    left: 45px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.ReceivingCode {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 10px;
    width: 120px;
    border: 10px solid #d7d7f3;
    border-radius: 8px;
    cursor: pointer
}

.ReceivingCode img {
    width: 100%
}

.ReceivingCode .closeQr {
    width: 25px;
    position: absolute;
    left: -15px;
    top: -15px
}

p > code {
    background-color: #f3f3f3;
    color: #da702b;
    border-radius: 4px;
    padding: 2px
}

blockquote {
    border-left: 8px solid #488261;
    background-color: #eef7f2;
    border-radius: 4px;
    padding: 10px 6px
}

blockquote p {
    margin-bottom: 0
}

.ValineContainer {
    margin-top: 40px
}

.Valine {
    margin-top: 30px
}

.react-valine .v-edit-area .v-edit-control {
    text-align: left
}

.react-valine .v-main-wrapper .v-edit-area .v-edit-submit {
    display: inline-block
}

.Valine .react-valine .v-main-wrapper .vheader .vavatars-select-button .vavatars-edit-icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5)
}

.drawer-panel-wrapper.react-valine .drawer-panel-mask {
    background: hsla(0, 0%, 100%, 0)
}

.drawer-panel-wrapper.react-valine .drawer-content-top {
    position: absolute;
    width: 400px;
    height: 200px;
    left: 55%;
    top: 55%;
    margin-top: -100px;
    margin-left: -200px;
    background-color: #000c17;
    border-radius: 12px
}

.drawer-panel-wrapper.react-valine .drawer-content-bottom {
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    height: auto;
    background-color: rgba(255, 254, 246, .9)
}

.drawer-panel-wrapper.react-valine .drawer-content-bottom .emoji-panel-box {
    font-size: 18px;
    text-align: justify;
    max-height: 80vh;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 1px #f0f0f0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc5c6;
    border-radius: 4px
}

.drawer-panel-wrapper.react-valine .emoji-panel-box .emoji-panel-item {
    font-style: normal;
    padding: 4px 0;
    width: 30px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: background .5s linear;
    transition: background .5s linear
}

/*# sourceMappingURL=main.ddaa417c.chunk.css.map */
